// Intellix — variables SCSS mode sombre (bundle web.assets_web_dark)
$o-webclient-background-color: #0a0a1a !default;
$o-view-background-color: #0a0a1a !default;
$nav-tabs-link-active-bg: #1e1e32 !default;
$nav-tabs-link-active-color: #f1f5f9 !default;
$nav-tabs-border-color: #334155 !default;
$o-action: #6366f1 !default;
$o-brand-primary: #6366f1 !default;
$o-main-link-color: #818cf8 !default;
$o-gray-100: #1a1a2e !default;
$o-gray-200: #1e293b !default;
$o-gray-300: #334155 !default;
$o-main-text-color: #ffffff !default;
$o-main-headings-color: #ffffff !default;

$o-burger-base-bg: #0a0a1a !default;
$o-burger-base-color: #ffffff !default;
$o-burger-topbar-bg: #1a1a2e !default;
$o-burger-topbar-color: #ffffff !default;

$dropdown-bg: #1a1a2e !default;
$dropdown-color: #ffffff !default;
$dropdown-link-color: #ffffff !default;
$dropdown-link-hover-color: #818cf8 !default;
$dropdown-link-hover-bg: #252542 !default;
$dropdown-link-active-bg: #2e2e52 !default;
$dropdown-border-color: #1e293b !default;

$o-list-group-active-color: #f1f5f9 !default;
$o-list-group-active-bg: #2e2e52 !default;
